  services:
    db:
      image: postgres
      container_name: calorie-tracker-db
      ports:
        - "5433:5432"
      env_file:
        - .env
      volumes:
        - postgres_data:/var/lib/postgresql/data/
    db-test:
      image: postgres
      container_name: calorie-tracker-db-test
      ports:
        - "5434:5432"
      env_file:
        - .env.test
      volumes:
        - test_postgres_data:/var/lib/postgresql/data
    backend:
      build: .
      container_name: calorie-tracker-api
      ports:
        - "8000:8000"
      env_file:
        - .env
      volumes:
        - .:/FastAPI
      depends_on:
        - db
    cache:
      image: redis:6.2-alpine
      ports:
        - "6379:6379"
      env_file:
        - .env
      command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
      volumes:
        - cache:/data
  volumes:
    postgres_data:
      driver: local
    test_postgres_data:
      driver: local
    cache:
      driver: local