services:
  db:
    image: postgres
    container_name: calorie-tracker-db
    restart: always
    ports:
      - "5433:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  backend:
    build: .
    container_name: calorie-tracker-api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - "6379:6379"
    env_file:
      - .env
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - cache:/data
volumes:
  postgres_data:
    driver: local
  cache:
    driver: local