name: Backend CI

on:
  push:
    paths: ['FastAPI/**']
    branches: [main]
  pull_request:
    paths: ['FastAPI/**']


jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./FastAPI
    env:
      ENVIRONMENT: test
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-create: 'true'
          virtualenvs-in-project: 'true'

      - name: Install dependencies
        run: poetry install --no-root

      - name: Ruff check
        run: poetry run ruff check .

      - name: Ruff format check
        run: poetry run ruff format --check .

      - name: Run unit tests
        run: poetry run pytest -m unit -v

  test-integration:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./FastAPI
    env:
      ENVIRONMENT: test
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: calorie-tracker-test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5434:5432

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 'latest'
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: poetry install --no-root

      - name: Run Integration tests

        run: poetry run pytest -m integration -v
